{% extends "index.html" %}

{% block title %}Home{% endblock title %}
{% block 'content' %}
<title>adkfkj</title>
{% load static %}

    <div class="main" style="margin-top:74px; margin-left:0px; margin-right:0px;">
    
        <section id="hero-area" class="header-area header-eight" style="padding: 20px;">
            <div class="container" style="margin-top:2px;">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="header-content">
                    <h1>Face Attendence Application</h1>
                    <p>
                      We are a digital agency that helps brands to optimize their
                      business outcomes by taking there employees attandence digitaly. We see technology as a tool to create amazing things.
                    </p>
                    <div class="button">
                      <a href="/logging" class="btn primary-btn">Get Started</a>
                        
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="header-image">
                    <img src="static/images/Face.png" alt="#" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          
    
    
    
    
    </div>
    
{% endblock 'content' %}